In [ ]:
# Semana 04
Yesenia Zuñiga Aucasi

Agenda:

1. Números
2. Variables
3. Manejo de Cadenas
4. Ingreso de datos por teclado
5. Operadores

5. Operadores

In [2]:
# 5.1 Operadores aritméticos
# Se tiene: +, -, *, /, **, %, //

In [5]:
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
cociente = numero1 // numero2
potencia = numero1 ** numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(cociente)
print(potencia)

13
7
30
3.3333333333333335
1
3
1000

In [6]:
# 5.2 Operadores de asignación
# Se tiene: =, +=, -=, *=, /=, **=
numero = 5
numero = numero + 3
print(numero)

8

In [7]:
# La operación anterior también se puede expresar de la siguiente manera:
numero = 5
numero += 3
print(numero)

8

In [8]:
# Lo mismo se puede hacer con todos los casos, incluso la potencia
# Veamos otro ejemplo:
numero = 5
numero = numero ** 3
print(numero)

125

In [9]:
# La operación anterior también se puede expresar de la siguiente manera:
numero = 5
numero **= 3
print(numero)

125

In [10]:
# 5.3 Operadores de comparación
# Se tiene: ==, !=, <, >, <=, >=,

In [11]:
# Ejemplo de igualdad ==
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [12]:
# Con las cadenas funciona igual
nombre1 = "Juan"
nombre2 = "Juan"
nombre1 == nombre2

True

In [13]:
# 5.4 Operadores lógicos
# Se tiene: and, or, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [14]:
numero1 < numero2

True

In [15]:
# El not invierte el resultado
not(numero1<numero2)

False

In [16]:
numero1<numero2 and numero3<numero4

True

In [17]:
# Tambien puedes utilizar parentesis para ordenar tu operación
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [18]:
# 5.5 Operadores de Pertenencia
# Se tiene: in, not in

In [19]:
# Miremos un ejemplo:

In [20]:
aula = ["Juan", "Daniel", "Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [21]:
# ¿Diego está en aula?
alumno1 in aula

False

In [22]:
# ¿Juan está en aula?
alumno2 in aula

True

In [23]:
# ¿Diego no está en aula?
alumno1 not in aula

True

In [24]:
# ¿Juan no está en aula?
alumno2 not in aula

False

In [25]:
# 5.6 Operadores de identidad
# Se tiene: is, is not

In [26]:
aula1 = ["Juan", "Daniel", "Ruben"]
aula2 = ["Juan", "Daniel", "Ruben"]
# A continuación vamos a indicar que aula3 va a
# compartir el mismo objeto que aula1
aula3 = aula1

In [27]:
# ¿aula3 comparte el mismo objeto que aula1 ?
aula3 is aula1

True

In [28]:
# ¿ aula3 comparte el mismo objeto que aula2 ?
aula3 is aula2

False

In [29]:
# ¿ aula2 comparte el mismo objeto que aula1 ?
aula2 is aula1

False

In [30]:
aula1.append("Diego")

In [31]:
# Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [32]:
# Al imprimir los elementos de la lista aula3 se observa
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [33]:
# Al imprimir los elementos de la lista aula2 se observa
print(aula2)

['Juan', 'Daniel', 'Ruben']