# Semana 04
Zuñiga Aucasi Yesenia

Agenda:
1. Número
2. Variables
3. Manejo de cadenas
4. INgreso por el teclado
5. Operadores

2. Variables

In [1]:
# Se deben iniciar siempre con una letra con un guion abajo. (Nunca con un numero o otro simbolo)

In [13]:
edad = 20

In [14]:
edad

20

In [15]:
nombre = "Yesenia"

In [16]:
nombre

'Yesenia'

In [17]:
apellido = "Zuñiga Aucasi"

In [18]:
apellido

'Zuñiga Aucasi'

In [21]:
nombre_completo = apellido + " " + nombre

In [22]:
nombre_completo

'Zuñiga Aucasi Yesenia'

In [24]:
# Para saber el tipo de variable utilizamos la funcion type()
# Por ejemplo:
numero = 50
type(numero)

int

In [25]:
talla = 1.63

In [26]:
talla

1.63

In [27]:
type(talla)

float

In [29]:
# Para convertir un numero a cadena utlizamos str()
numero = 100
cadena = str (numero)
cadena

'100'

In [30]:
type(cadena)

str

In [31]:
# Para convertir una cadena a numero utilizamos int()
cadena2 = "50"
numero2 = int(cadena2)
numero2

50

In [32]:
# Para convertir una cadena a decimal utilizamos float()
cadena2 = "50"
numero2 = float(cadena2)
numero2

50.0

In [33]:
type(numero2)

float